.jumbotext {
    text-align: right;
}

.jumbotron {
    min-height: 350px;
}

.jumboCarousel {
    margin: 0!important;
}

.navbar {
    margin:0;
}

.card {
    position: relative;
    left:50%;
    transform: translate(-50%,10%);
}

.form-group {
    position: relative;
    left:50%;
    transform: translate(-50%,0%);
}

